__pycache__/
*.py[cod]
*$py.class

*.so

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv
*.env
*.secrets

.vscode/
.idea/
*.swp
*.swo

.target/
.pytest_cache/
.nosetests/
.toast/
.htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.run/

*.log
*.sqlite
*.sqlite3
*.db

.DS_Store
.DS_Store?
._*
Thumbe.db
ehthumbs.db
Desktop.ini